.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.notFound {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
  color: var(--text-muted);
}